# Importing Data

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = r'D:\other studies\Quantium Case Comp 2024\Risky Lending Data Set - revised.xlsx'

In [16]:
customers = pd.read_excel(data, sheet_name="Customers",header=5)
customers

,Unnamed: 0,Customer ID,Campaign ID,Contact Date,DOB,Q Factor 1,Q Factor 2,Q Factor 3
0,NaN,42221,10026,2021-11-07,1955-04-10,OLDER FAMILIES,MAINSTREAM,TRADES & SERVICES
1,NaN,44429,10035,2022-04-12,1958-12-05,OLDER FAMILIES,PRIME,MANAGERIAL & EXECS
2,NaN,44774,10036,2022-05-16,1973-11-17,OLDER SINGLES,ECONOMICAL,SELF EMPLOYED
3,NaN,39763,10016,2021-06-23,1988-01-31,YOUNG COUPLES,ECONOMICAL,TRADES & SERVICES
4,NaN,41867,10025,2021-11-12,1999-04-12,YOUNG SINGLES,PRIME,TRADES & SERVICES
...,...,...,...,...,...,...,...,...
3256,NaN,44392,10035,2022-05-14,1952-09-17,OLDER COUPLES,ECONOMICAL,PROFESSIONALS
3257,NaN,37890,10009,2021-03-13,1987-07-22,YOUNG SINGLES,PRIME,TRADES & SERVICES
3258,NaN,41410,10023,2021-10-16,1984-12-19,YOUNG SINGLES,ECONOMICAL,PROFESSIONALS
3259,NaN,44364,10035,2022-05-11,1989-10-24,YOUNG COUPLES,MAINSTREAM,MANAGERIAL & EXECS
3260,NaN,37207,10007,2020-12-09,1989-05-16,YOUNG COUPLES,MAINSTREAM,PROFESSIONALS

In [14]:
customers.columns[0]

'Unnamed: 0'